[filament_switch_sensor IR_SENSOR]
pause_on_runout: True
runout_gcode:
    M118 Filament Runout Detected
    M600
insert_gcode:
    M118 Filament Load Detected
    LOAD_FILAMENT
#runout_distance: 0.0
#   Defines how much filament can still be pulled after the
#   switch sensor triggered (e.g. you have a 60cm reverse bowden between your
#   extruder and your sensor, you would then set runout_distance to something
#   like 590 to leave a small safety margin and now the print will not
#   immediately pause when the sensor triggers but rather keep printing until
#   the filament is at the extruder). The default is 0 millimeters.
event_delay: 3.0
pause_delay: 0.01
switch_pin: IO4_IN
#smart:
#   If set to true the sensor will use the virtual_sd_card module to determine
#   whether the printer is printing which is more reliable but will not work
#   when streaming a print over usb or similar.
#always_fire_events:
#   If set to true, runout events will always fire no matter whether the sensor
#   is enabled or disabled. Usefull for MMUs
#check_on_print_start:
#   If set to true, the sensor will be reevaluated when a print starts and if
#   no filament is detected the runout_gcode will be run no matter the defined
#   runout_distance(immediate_runout_gcode will not be run in this case)