# Due to BTT implementing a Marlin-specific safety feature,
# "anti-reversal stepper protection", this pin needs pulling
# high to pass power to stepper drivers and most FETs

[output_pin motor_power]
pin: PC13
value: 1

[board_pins]
aliases:
    # STEPPERS #
        X_EN = PE3,     X_STEP = PE2,       X_DIR = PE1,        X_UART = PE0,
        Y_EN = PD6,     Y_STEP = PD5,       Y_DIR = PD4,        Y_UART = PD3,
        Z_EN = PD1,     Z_STEP = PA15,      Z_DIR = PA8,        Z_UART = PD0,
        Z1_EN = PD13,   Z1_STEP = PD11,     Z1_DIR = PD10,      Z1_UART = PD12,
        E0_EN = PC7,    E0_STEP = PD15,     E0_DIR = PD14,      E0_UART = PC6,

    # ENDSTOP #
        X_STOP = PC1,
        Y_STOP = PC3,
        Z_STOP = PC0,
        E0_STOP = PC2,
        E1_STOP = PA0,
        PWR_STOP = PC15,

    # HEATERS #
        HE1 = PB4,
        HE0 = PB3,
        BED = PD7,

    # FANS #
        FAN0 = PB7,
        FAN1 = PB6,
        FAN2 = PB5,

    # THERMISTORS #
        BEDT = PA1,
        HOTENDT = PA2,
        EXTRAT = PA3,

    # PROBE #
        PROBE = PE4,
    # SERVO #
        SERVO = PE5,

    # EXTRA #
        PS_ON = PE8,
        RGB = PE6,
        MISO = PA14,
        MOSI = PE14,
        SCK = PE15,

    # EXP1 header
        EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE10, EXP1_7=PE12, EXP1_9=<GND>,
        EXP1_2=PB0, EXP1_4=PE9, EXP1_6=PE11, EXP1_8=PE13, EXP1_10=<5V>,

    # EXP2 header
        EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
        EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>

[temperature_sensor SKRv2]
sensor_type: temperature_mcu
#sensor_pin:
min_temp: 0
max_temp: 100