[fan]
pin: !OUT4
min_power: 0.04
tachometer_pin: ^OUT4_TACH

[heater_fan Hotend_Fan]
pin: OUT3
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#min_power:
tachometer_pin: ^OUT3_TACH
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#initial_speed:
#   See the "fan" section for a description of the above parameters.
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

#[controller_fan Case_Fan]
#pin: OUT6

[temperature_fan Pi_4_Fan]
pin: OUT6
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#min_power:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
sensor_type: temperature_host
#sensor_pin:
control: watermark
max_delta: 3.0
min_temp: 0
max_temp: 80
#   See the "extruder" section for a description of the above parameters.
#pid_Kp:
#pid_Ki:
#pid_Kd:
#   The proportional (pid_Kp), integral (pid_Ki), and derivative
#   (pid_Kd) settings for the PID feedback control system. Kalico
#   evaluates the PID settings with the following general formula:
#     fan_pwm = max_power - (Kp*e + Ki*integral(e) - Kd*derivative(e)) / 255
#   Where "e" is "target_temperature - measured_temperature" and
#   "fan_pwm" is the requested fan rate with 0.0 being full off and
#   1.0 being full on. The pid_Kp, pid_Ki, and pid_Kd parameters must
#   be provided when the PID control algorithm is enabled.
#pid_deriv_time: 2.0
#   A time value (in seconds) over which temperature measurements will
#   be smoothed when using the PID control algorithm. This may reduce
#   the impact of measurement noise. The default is 2 seconds.
target_temp: 40.0
#   A temperature (in Celsius) that will be the target temperature.
#   The default is 40 degrees.
#max_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when the sensor temperature exceeds the set value.
#   The default is 1.0.
#min_speed: 0.3
#   The minimum fan speed (expressed as a value from 0.0 to 1.0) that
#   the fan will be set to for PID temperature fans.
#   The default is 0.3.
#gcode_id:
#   If set, the temperature will be reported in M105 queries using the
#   given id. The default is to not report the temperature via M105.
#reverse: False
#   If true, the working mode of the fan is reversed. If the temperature
#   is lower than the target temperature, the fan speed increases;
#   otherwise, the fan speed decreases.
#   The default is False.