# In newer versions of this board shipped in late 2021 the STM32F429
# is used, if this is the case compile for this with a "32KiB bootloader"
# You will need to check the chip on your board to identify which you have.
#
# The "make flash" command does not work on the SKR 2. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR 2
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# Note: The initial revision of this board has a flaw that can cause
# damage to itself and other boards. Be sure to verify the board is
# not impacted by this flaw before using it.

[include 01_Duet_3/00_MCU.cfg]
[include 01_Duet_3/01_XYZ_Motor.cfg]
[include 01_Duet_3/02_Extruder.cfg]
[include 01_Duet_3/03_TMC2209.cfg]
[include 01_Duet_3/04_Fans.cfg]
[include 01_Duet_3/05_Probe.cfg]
[include 01_Duet_3/PinOut.cfg]

[include 02_Modules/Auto_TMC.cfg]
[include 02_Modules/Bed_Leveling.cfg]
[include 02_Modules/Chamber.cfg]
[include 02_Modules/Input_Shaping.cfg]
[include 02_Modules/Klipper_Adaptive_Mesh.cfg]
[include 02_Modules/mainsail.cfg]
[include 02_Modules/Shell_Commands.cfg]
[include 02_Modules/Skew_Correcting.cfg]

[include 03_Macros/G_Code_Replacements.cfg]
[include 03_Macros/MPC.cfg]
[include 03_Macros/PID.cfg]

[include 04_Filament/CF_PETG.cfg]


[printer]
kinematics: limited_cartesian
max_x_velocity: 300
max_y_velocity: 300
max_z_velocity: 12
max_velocity: 424
#   In order to get maximum velocity gains on diagonals, this should be equal or
#   greater than the hypotenuse (sqrt(x*x + y*y)) of max_x_velocity and
#   max_y_velocity.
max_x_accel: 4000
max_y_accel: 4000
max_z_accel: 200
max_accel: 4000
scale_xy_accel: False
#   When true, scales the XY limits by the current tool head acceleration.
#   The factor is: slicer accel / hypot(max_x_accel, max_y_accel).
#   See below.

[extruder]
heater_pin: OUT1
sensor_type: PT1000
sensor_pin: vref_scaled:TEMP1
pullup_resistor: 2200
smooth_time: 1.0
#control: mpc
heater_power: 80
cooling_fan: fan
filament_diameter: 1.75
filament_density: 1.27 #PETG
filament_heat_capacity: 2.20 #PETG
#block_heat_capacity: 16.9467
#sensor_responsiveness: 0.0407818
#ambient_transfer: 0.114184
#fan_ambient_transfer: 0.114184, 0.120981, 0.123553, 0.129388, 0.130306, 0.134889, 0.135537, 0.139678, 0.1398, 0.139161, 0.144778
min_extrude_temp: 170
min_temp: 0
max_temp: 500
per_move_pressure_advance: False
#   If true, uses pressure advance constant from trapq when processing moves
#   This causes changes to pressure advance be taken into account immediately,
#   for all moves in the current queue, rather than ~250ms later once the queue gets flushed

[heater_bed]
heater_pin: OUT0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: vref_scaled:TEMP0
pullup_resistor: 2200
#control: pid_v
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 125

[force_move]
enable_force_move: True

[exclude_object]
enable_exclude_object: True

[safe_z_home]
home_xy_position: 11, 4
move_to_previous: False

[idle_timeout]
#gcode:
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 43200
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = mpc
#*# block_heat_capacity = 14.6781
#*# sensor_responsiveness = 0.0645114
#*# ambient_transfer = 0.0616054
#*# fan_ambient_transfer = 0.0616054, 0.0596946, 0.0605553, 0.0665704, 0.0750568, 0.0777615, 0.0934451, 0.083905, 0.0976581, 0.0956398, 0.0992421, 0.106922, 0.107048, 0.107396, 0.112867, 0.10911, 0.110745, 0.118271, 0.120374, 0.128592, 0.118066, 0.12351, 0.122578, 0.120032, 0.121486, 0.12639, 0.135569, 0.122513, 0.128588, 0.129277, 0.142276, 0.137487, 0.137468, 0.134791, 0.139302, 0.134918, 0.139968, 0.142514, 0.152033, 0.142619, 0.142785, 0.142335, 0.141308, 0.147537, 0.138588, 0.147615, 0.146409, 0.145224, 0.137888, 0.155635
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 75.00
#*# pid_tolerance = 0.0200
#*# control = pid_v
#*# pid_kp = 43.938
#*# pid_ki = 0.598
#*# pid_kd = 807.354
